# Filebeat installation and configuration.

- name: Install & configure filebeat
  become: yes
  block:
  - name: Install filebeat 
    ansible.builtin.yum:
      name: "https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-{{filebeat_version}}-x86_64.rpm"
      state: present
      validate_certs: no

    # load josn content from URL.
  - name: Download JSON content play
    uri:
      url: http://169.254.169.254/opc/v1/instance/
      return_content: yes
    register: result

  - name: save the Json data to vminfo as a Fact
    set_fact:
      vminfo: "{{ result.json }}"

    # load josn content from URL.
  - name: Download JSON content play
    uri:
      url: http://169.254.169.254/opc/v1/vnics/
      return_content: yes
    register: result 

  - name: save the Json data to vcninfo as a Fact
    set_fact:
      vcninfo: "{{ result.json }}"

  - name: Retrieve the fileds from json data
    set_fact:
      availabilityDomain: "{{ vminfo | json_query('availabilityDomain') }}"
      compartmentId: "{{ vminfo | json_query('compartmentId') }}"
      faultDomain: "{{ vminfo | json_query('faultDomain') }}"
      host_ip: "{{ vcninfo | json_query('[0].privateIp') }}"
      hostname: "{{ vminfo | json_query('hostname') }}"
      instanceId: "{{ vminfo | json_query('id') }}"
      oci_region: "{{ vminfo | json_query('canonicalRegionName') }}"
      subnet_cidr: "{{ vcninfo | json_query('[0].subnetCidrBlock') }}"
      vm_shape: "{{ vminfo | json_query('shape') }}"
      vnic_id: "{{ vcninfo | json_query('[0].vnicId') }}"
      logstashfqdn: "{{logstashhost | default('127.0.0.1')}}:{{logstashport | default('5044')}}"

    # printing reterived fileds to stdout.
  - name: Print out Vminfo
    debug:
      msg: 
      - "availabilityDomain: {{availabilityDomain}}"
      - "compartmentId: {{compartmentId}}"
      - "faultDomain: {{faultDomain}}"
      - "host_ip: {{host_ip}}"
      - "hostname: {{hostname}}"
      - "instanceId: {{instanceId}}"
      - "oci_region: {{oci_region}}"
      - "subnet_cidr: {{subnet_cidr}}"
      - "vm_shape: {{vm_shape}}"
      - "vnic_id: {{vnic_id}}"
      - "logstashfqdn: {{logstashfqdn}}"  

  - name: configure osquery input to filebeat
    blockinfile:
      path: /etc/filebeat/filebeat.yml
      insertafter: "filebeat.inputs:"
      marker: "## {mark} OSquery input for filebeat logs" 
      content: |
        # osquery input
        - type: log
          enabled: true
          paths:
            - /var/log/osquery/osqueryd.results.log
          fields:
            availabilityDomain: "{{availabilityDomain}}"
            compartmentId: "{{compartmentId}}"
            faultDomain: "{{faultDomain}}"
            host_ip: "{{host_ip}}"
            hostname: "{{hostname}}"
            instanceId: "{{instanceId}}"
            oci_region: "{{oci_region}}"
            subnet_cidr: "{{subnet_cidr}}"
            vm_shape: "{{subnet_cidr}}"
            vnic_id: "{{vnic_id}}"  
          json.keys_under_root: true
          fields_under_root: true

  - name: install yq
    become: yes
    get_url:
      url: https://github.com/mikefarah/yq/releases/download/v4.25.1/yq_linux_amd64
      dest: /usr/bin/yq
      mode: 0755
      validate_certs: no

# filebeat supports only one output at a time.
  - name: delete the existing outputs in filebeat conf
    shell: yq eval -i 'del(."output.elasticsearch")' /etc/filebeat/filebeat.yml 
    register: result 

  - name: check for exiting logstash output configuration
    lineinfile:
      path:  /etc/filebeat/filebeat.yml 
      regexp: "^output.logstash"
      state: absent
    check_mode: yes
    register: out      

  - name: configure filebeat output to logstash
    blockinfile: 
      path: /etc/filebeat/filebeat.yml
      insertafter: EOF
      marker: "# {mark} logstash output direction for filebeat" 
      content: |
        output.logstash:
          enable: true
          hosts: ["{{logstashfqdn}}"]
    when: not out.found      

# this can update the existing config with the provide input logstash URL.
#  - name: configure filebeat output to logstash
#    shell: yq eval '."output.logstash".hosts[0]="{{logstashfqdn}}"' /etc/filebeat/filebeat.yml 
#    when: out.found      

  - name: Make sure filebeat autostarts
    service:
      name: filebeat
      enabled: yes

  - name: Restart filebeat
    service:
      name: filebeat
      state: restarted

  - name: unintall yq
    file:
      path: /usr/bin/yq
      state: absent     
  # condition to run these tasks for RedHat linux distros
  when:
  - ansible_os_family == 'RedHat'  

# we can add filebeat installation tasks for other SO ditributions here.